//ABOUT ME SASS Code

// PLACEHOLDERS
%view{
  height: 100vh;
  width: 100vw;
  display: flex;
}

%viewImg{
  height: 100%;
  width: 50%;
  background-size: cover;
}

%textView{
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  padding: 4% 4%;
}

//CLASSES/////////

.aboutMeHero{
  @extend %view;


  .aboutMeHeroText{
    @extend %textView;
    background-color: #1E1E1E;
    color: #EBEDEC;

    h1{
      font-size: 2.8em;
      padding-bottom: 4%;
      font-family: 'Butler Stencil', sans-serif;
      font-weight: 700;
      color: #EBEDEC;;
    }

    p{
      font-size: 1.2em;
      line-height: 1.4em;
      color: #E8E8E8;
      font-family: 'Catamaran', sans-serif;
      font-weight: 100;

    }
  }

  .aboutMeHeroImg{
    @extend %viewImg;
    background: url('imgs/profilePic.jpg') no-repeat 50%;
  }
}

.coaching{
  @extend %view;

  .coachingImg{
    @extend %viewImg;
    background: url('imgs/contemplate.jpg') no-repeat 50%;

  }
  .whyCoaching{
    @extend %textView;
    background-color: #020001;


    h1{
      font-size: 2.8em;
      padding-bottom: 4%;
      font-family: 'Butler Stencil', sans-serif;
      font-weight: 700;
      color: #D8D8D8;
    }

    p{
      font-size: 1.2em;
      line-height: 1.3em;
      color: #D8D8D8;
      font-family: 'Catamaran', sans-serif;
      font-weight: 100;

    }
  }
}

.aboutBtn{
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4%;

  p{
    font-size: 2.5em;
    color: #E6E6E6;
    border: solid 1px white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-family: 'Catamaran', sans-serif;
  }
}


/*ANIMATED Sentence*/
.sentence{
     color: #E8E8E8;
     font-size: 30px;
     font-family: 'Catamaran', sans-serif;
     font-weight: 100;
     text-align: left;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #00abe9;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}


/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
