//CONTACT ME SASS Code

.contactHero{
  height: 100vh;
  width: 100vw;
  background: url('imgs/cosmos.jpg') no-repeat 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactContent{
  padding-bottom: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 3.9em;
    color: white;
    font-family: 'Butler Stencil', sans-serif;
    padding: 12% 0 3% 0;
  }

  p{
    font-size: 1.7em;
    color: white;
    font-family: 'Catamaran', sans-serif;
    padding-bottom: 10%;
  }
}

.contactBtn{
  font-size: 1.5em;
  color: #E6E6E6;
  border: solid 2px white;
  border-radius: 5px;
  padding: 2% 1% 0% 1%;
  font-family: 'Catamaran', sans-serif;
  text-decoration: none;
}
