//FONT FACES

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil.woff2') format('woff2'),
        url('ButlerStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
