//FONT FACES

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler.woff2') format('woff2'),
        url('fonts/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('fonts/ButlerStencil.woff2') format('woff2'),
        url('fonts/ButlerStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('fonts/ButlerStencil-Bold.woff2') format('woff2'),
        url('fonts/ButlerStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
