//Hero SASS Code

.hero{
  height: 100vh;
  width: 100vw;
  background: url('imgs/hero.jpg') no-repeat 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .heroContent{
    padding-bottom: 20%;
  }

  h1{
    font-size: 3.9em;
    color: white;
    font-family: 'Butler Stencil', sans-serif;
    text-align: center;
  }
}
